body {height: 100%; font-family: 'Roboto Slab', serif; background: #60b5ff; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

body {
  background: white;
}


.logo-container {
  /* width: 50%;
  margin: 0 auto; */
}
.form-container {
  margin-top: 20px;
}

.submit-button {
  width: 100%;
}


.view-list {
  padding-left: 0px; 
  margin-top: 20px; 
  position: absolute; 
  z-index: 1
}

.list-container {
  width: 95vw;
  height:95vh;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
  background-color: #e8d0db;
  overflow: hidden;
}

.title {
  font-weight: bold;
  text-align: left;
  font-style: italic;
}

.card {
  padding: 45px 50px;
  cursor: pointer;
  background-color: transparent;
}

.header-container {
  /* max-height: 330px;  */
}

.header-container.bye {
  /* max-height: 200px;
  transition: max-height 500ms 1000ms; */
}

.header-container.bye {}

.logo-container > svg { display: block; width: 100%}
.logo-container {
  width: 100%;
  transition: width 500ms 200ms;
  
}

.logo-container.bye {
  width: 30%;
  transition: width 500ms 500ms;
}

.logo-text {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.white-border {
  background-color: white;
}

.blue-shape {  
  background-color: #006fb9;
  
}

.blue-shape::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  bottom: 0;
  transform-origin: left top;
  transform: skewY(-7deg) skewX(-7deg);
  box-shadow: 0.4em 0.4em 1em 0.4em #bca9b1;

}
.white-border::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  bottom: 19px;
  left: -30px;
  border: 5px solid white;
  transform-origin: left top;
  transform: skewY(0deg) skewX(0deg);
}

.view-list {
  transform-origin: left top;
  height: 100%;
  bottom: 19%;
  left: 27px;
  margin-top: 0vh;
  overflow: scroll;
}

@media (min-width: 1025px) { 
  .view-list {
    max-width: 90%;
    /* margin: 0 auto; */
    font-size: 20px;
    height: 95%;
  }
  .title {
    font-size: 37px;
  }
  .author {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .view-list {
    max-width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }
  .title {
    font-size: 30px;
  }
  .author {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .view-list {
    max-width: 100%;
    font-size: 16px;
  }
  .title {
    font-size: 20px;
  }
  .author {
    font-size: 10px;
  }
}

.replies-container {
  font-size: 12px;
}

.title-container {
  text-align: center;
  margin: 10px 10%;
}


/* 
  @media (max-width: 767px) {
    .white-border::after {
      transform: skewY(-8deg) skewX(-8deg); 
    }

    .blue-shape::after{ 
      transform: skewY(-8deg) skewX(-8deg);      
    }
  } */



  /* .bubble-arrow-left {
    width: 47%;
    position:relative;
    margin: 20px 0 20px auto;
    padding:10px 20px;
    background:white;
    border-radius:25px;
    color: black;
}

@media (max-width: 767px) {
  .bubble-arrow-left {
    width: 100%;
  }
}
      
.bubble-arrow-left::before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-2px;
  left:-7px;
  height:20px;
  border-left:20px solid white;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.bubble-arrow-left::after {
content:"";
position:absolute;
z-index:3;
bottom:-2px;
left:4px;
width:26px;
height:20px;
background:#cfe7ff;
border-bottom-right-radius: 10px;
-webkit-transform:translate(-30px, -2px);
}

.bubble-arrow-right {
width: 47%;
position:relative;
margin: 20px auto 20px 0;
padding:10px 20px;
background:white;
border-radius:25px;
color: black;
}

@media (max-width: 767px) {
  .bubble-arrow-right {
    width: 100%;
  }
}
  
.bubble-arrow-right::before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-2px;
  right:-7px;
  height:20px;
  border-right:20px solid white;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.bubble-arrow-right::after {
  content:"";
  position:absolute;
  z-index:3;
  bottom:-2px;
  right:-56px;
  width:26px;
  height:20px;
  background:#cfe7ff;
  border-bottom-left-radius: 10px;
  -webkit-transform:translate(-30px, -2px);
} */