
body {
  background: white;
  font-family: 'Gill Sans', sans-serif, serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


.form-container {
  margin-top: 20px;
}

.submit-button {
  width: 100%;
}




.list-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* margin-top: 2vh; */
  margin-bottom: 2vh;
  position: relative;
  background-color: #e8d0db;
  overflow: hidden;
}

.title {
  font-weight: bold;
  text-align: left;
  font-style: italic;
}

.card {
  padding: 45px 18%;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.card::after {
  content: '';
  width: 35%;
  height: 100%;
  position: absolute;
  border-bottom: 3px solid white;
  bottom: 0;
  left: 20%;
  margin: 0 auto;
}
.card:first-child{
  padding-top: 8%;
}

.header-container {
  /* max-height: 330px;  */
}

.header-container.bye {
  /* max-height: 200px;
  transition: max-height 500ms 1000ms; */
}


.header-container.bye {}

.logo-container > svg { display: block; width: 100%}
.logo-container {
  width: 70%;
  margin: 5vh auto;
  transition: width 500ms 200ms;
  
}

.logo-container.bye {
  width: 15%;
  display: none;
  transition: width 500ms 500ms;
}

.logo-text {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.white-border {
  background-color: white;
}

.blue-shape {  
  background-color: #006fb9;
  
}

.blue-shape::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  bottom: 0;
  transform-origin: left top;
  transform: skewY(-7deg) skewX(-7deg);
  box-shadow: 0.4em 0.4em 1em 0.4em #bca9b1;

}
.white-border::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  bottom: 19px;
  left: -30px;
  border: 5px solid white;
  transform-origin: left top;
  transform: skewY(0deg) skewX(0deg);
}


.view-list {
  /* padding-left: 0px;  */
  /* margin-top: 20px;  */
}

.view-list {
  position: absolute; 
  z-index: 1;
  transform-origin: left top;
  height: 86%;
  bottom: 8%;
  left: 27px;
  margin-top: 0vh;
  overflow: scroll;
  padding-left: 0;
}

.logo {
  width: 15%;
  position: absolute;
  left: 26px;
  top: 27px;
  z-index: 2;
}

/* small-only */
@media (max-width: 767px) {
  .view-list {
    max-width: 100%;
    font-size: 16px;
    left: 0px;
  }
  .card {
    padding: 0px 20%;
  }
  .title {
    font-size: 20px;
  }
  .author {
    font-size: 10px;
  }

  .logo {
    left: 12px;
    top: 12px;
  }
}

/* medium-only */
@media (min-width: 768px) and (max-width: 1024px) {
  .view-list {
    max-width: 90%;
    margin: 0 auto;
    font-size: 18px;
    bottom: 15%;
  }
  .title {
    font-size: 30px;
  }
  .author {
    font-size: 12px;
  }
  .card {
    padding: 0px 20%;
  }
  .card:first-child{
    padding-top: 11%;
  }
}

/* large-up */
@media (min-width: 1025px) { 
  .card {
    padding: 0px 20%;
  }
  .view-list {
    max-width: 90%;
    /* margin: 0 auto; */
    font-size: 20px;
    bottom: 15%;
    /* height: 86%; */
  }
  .title {
    font-size: 37px;
  }
  .author {
    font-size: 12px;
  }

  .card:first-child{
    padding-top: 13%;
  }
}

.replies-container {
  font-size: 12px;
}

.title-container {
  text-align: center;
  margin: 10px 10%;
}




a {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 3;
}


a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.3em solid #e74c3c;
  border-right: 0.3em solid #e74c3c;
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: white;
  border-radius: 50%;
  opacity: .9;
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 22%;
  margin-left: 28%;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.3em solid #333;
  border-right: 0.3em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.discussion-container {
  height: 95vh;
  /* width: 95vw; */
  /* margin: 0 auto; */
  padding: 3vh 2vw;
  /* margin-top: 2vh; */
  /* margin-bottom: 2vh; */
  position: relative;
  background-color: #DFAE5A;
  overflow: hidden;
}

.white {
  /* position: absolute; */
  height: 92%;
  /* width: 88vw; */
  background-color: transparent;
  /* margin: 0 auto; */
  border: 5px solid white;
}

.blank {
  position: absolute;
  width: 50%;
  height: 95vh;
  top: 0;
  right: 0;
  background-color: white;
}

.app-container {
  width: 95vw;
  height:95vh;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
  background-color: #006fb9;
  overflow: hidden;
}

.view-detail-container {
  height: 82%;
  width: 50%;
  background-color: transparent;
  overflow: scroll;
  padding-top: 10%;
  position: relative;
}

.view-replies-container {
  height: 82vh;
  margin-top: 6vh;
  width: 100%;
  background-color: #e8d0db;
  overflow: scroll;
}

.reply-container {

}

.view-title {
  font-size: 30px;
  color: white;
  padding: 0 16%;
  position: relative;
}

.open-quote {
  width: 8%;
  height: 10%;
  position: absolute;
  z-index: 0;
  left: 45px;
}

.closing-quote {
  width: 8%;
  height: 10%;
  position: absolute;
  z-index: 0;
  right: 45px;

}
/* 
  @media (max-width: 767px) {
    .white-border::after {
      transform: skewY(-8deg) skewX(-8deg); 
    }

    .blue-shape::after{ 
      transform: skewY(-8deg) skewX(-8deg);      
    }
  } */



  /* .bubble-arrow-left {
    width: 47%;
    position:relative;
    margin: 20px 0 20px auto;
    padding:10px 20px;
    background:white;
    border-radius:25px;
    color: black;
}

@media (max-width: 767px) {
  .bubble-arrow-left {
    width: 100%;
  }
}
      
.bubble-arrow-left::before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-2px;
  left:-7px;
  height:20px;
  border-left:20px solid white;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.bubble-arrow-left::after {
content:"";
position:absolute;
z-index:3;
bottom:-2px;
left:4px;
width:26px;
height:20px;
background:#cfe7ff;
border-bottom-right-radius: 10px;
-webkit-transform:translate(-30px, -2px);
}

.bubble-arrow-right {
width: 47%;
position:relative;
margin: 20px auto 20px 0;
padding:10px 20px;
background:white;
border-radius:25px;
color: black;
}

@media (max-width: 767px) {
  .bubble-arrow-right {
    width: 100%;
  }
}
  
.bubble-arrow-right::before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-2px;
  right:-7px;
  height:20px;
  border-right:20px solid white;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.bubble-arrow-right::after {
  content:"";
  position:absolute;
  z-index:3;
  bottom:-2px;
  right:-56px;
  width:26px;
  height:20px;
  background:#cfe7ff;
  border-bottom-left-radius: 10px;
  -webkit-transform:translate(-30px, -2px);
} */